.navbar
  .navbar-inner
    = link_to "Urban Helpline", admin_path, class: "brand"
    %ul.nav
      %li.divider-vertical

    - if is_admin? || is_operator?
      = link_to "<i class='icon-user'></i>Handle calls".html_safe, admin_phone_calls_handle_path, class: "btn btn-warning"

    %ul{class: "nav pull-right"}
      - if current_user
        %li
          = link_to current_user.email, edit_admin_user_path(current_user)
        %li.divider-vertical
        %li
          = link_to "Logout", destroy_user_session_path, :method => :delete
      - else
        %li
          = link_to "Login", new_user_session_path

    %ul{class: "nav pull-right"}
      - if is_admin?

        %li{class: admin_documents_active?(params[:controller]) }
          =link_to  "Documents", admin_documents_path

        %li{class: admin_phone_calls_active?(params[:controller]) }
          = link_to "Phone calls", admin_phone_calls_path

        %li{class: admin_users_active?(params[:controller]) }
          = link_to "Users", admin_users_path



