!!!
%html{:lang => "en"}
  %head
    %title Urban Helpline
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    = yield :head if content_for? :head
    = yield :js_init if content_for? :js_init

  %body
    .container
      = render partial: "shared/admin_navbar"

      - if content_for :page_title
        .page-title
          %h2= yield :page_title

      = render partial: "shared/alerts"

      = yield

    #footer
      .container
        %p.muted.credit
          Urban Helpline - #{link_to "source code", "http://github.com/HashNuke/urban_helpline"}
